@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 12px 0px;
}
